.header{
    height: 200px;
    background-image: url('baby.jpg');
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: left;
    color: red;
}
h3{
    color: magenta;
    text-decoration: underline wavy green;
    text-align: center;
}
p{
    color: blueviolet;
}
.page-title{
    font-weight: 900;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}